#toplevel_page_backwpup .wp-menu-image {
    background-size: 16px 32px;
    background: url(../images/BackWPup16.png) no-repeat bottom center;
    width:16px !important;
	height:16px !important;
	margin:5px 5px 0 7px;
	-khtml-opacity:.70;
 	-moz-opacity:.70;
 	-ms-filter:"alpha(opacity=70)";
  	filter:alpha(opacity=70);
  	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.7);
  	opacity:.70;
}
#toplevel_page_backwpup:hover .wp-menu-image {
    background-size: 16px 32px;
    background: url(../images/BackWPup16.png) no-repeat bottom center;
    width:16px !important;
	height:16px !important;
	margin:5px 5px 0px 7px;
	-khtml-opacity:.5;
	-moz-opacity:.5;
	-ms-filter:"alpha(opacity=5)";
	filter:alpha(opacity=5);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=5.0);
	opacity:.5;
}
li.wp-has-current-submenu#toplevel_page_backwpup .wp-menu-image {
    background-size: 16px 32px;
    background: url(../images/BackWPup16.png) no-repeat top center;
    width:16px !important;
	height:16px !important;
	margin:5px 5px 0px 7px;
}
#toplevel_page_backwpup .wp-menu-image img {
    display: none;
}

#wp-admin-bar-backwpup.menupop>.ab-item .ab-icon, #wp-admin-bar-backwpup.menupop>a>span .ab-icon,
#wp-admin-bar-backwpup.menupop.hover>.ab-item .ab-icon, #wp-admin-bar-backwpup.menupop.hover>a>span .ab-icon:hover {
    background-size: cover;
}

.inside.backwpuppro img { width:100%; height:auto; }
.inside.backwpuppro { text-align: center; font-weight:bold; }

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	#toplevel_page_backwpup .wp-menu-image {
        background-size: 16px 32px;
        background: url(../images/BackWPup16_2x.png) no-repeat bottom center;
        width:16px !important;
		height:16px !important;
		margin:5px 5px 0px 7px;
	}
	#toplevel_page_backwpup .wp-menu-image {
        background-size: 16px 32px;
        background: url(../images/BackWPup16_2x.png) no-repeat bottom center;
        width:16px !important;
		height:16px !important;
		margin:5px 5px 0px 7px;
		-khtml-opacity:.70;
		-moz-opacity:.70;
		-ms-filter:"alpha(opacity=70)";
		filter:alpha(opacity=70);
		filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.7);
		opacity:.70;
	}
	#toplevel_page_backwpup:hover .wp-menu-image {
        background-size: 16px 32px;
        background: url(../images/BackWPup16_2x.png) no-repeat bottom center;
        width:16px !important;
		height:16px !important;
		margin:5px 5px 0px 7px;
		-khtml-opacity:.5;
		-moz-opacity:.5;
		-ms-filter:"alpha(opacity=5)";
		filter:alpha(opacity=5);
		filter: progid:DXImageTransform.Microsoft.Alpha(opacity=5.0);
		opacity:.5;
	}
	li.wp-has-current-submenu#toplevel_page_backwpup .wp-menu-image {
        background-size: 16px 32px;
        background: url(../images/BackWPup16_2x.png) no-repeat top center;
        width:16px !important;
		height:16px !important;
		margin:5px 5px 0px 7px;
	}
}