#icon-backwpup {
    background: url('../images/BackWPup32.png') no-repeat;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    #icon-backwpup {
        background: url('../images/BackWPup64.png') no-repeat;
        -webkit-background-size: 32px 32px;
        background-size: 32px 32px;
    }
}

img.help_tip {
    padding: 0;
    margin: -4px 0 0 5px;
    vertical-align: middle;
    cursor: help;
    line-height: 1;
}

/* TipTip CSS - Version 1.3 */

#tiptip_holder {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
}

#tiptip_holder.tip_top {
    padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
    padding-top: 5px;
}

#tiptip_holder.tip_right {
    padding-left: 5px;
}

#tiptip_holder.tip_left {
    padding-right: 5px;
}

#tiptip_content {
    font-size: 11px;
    color: #fff;
    text-shadow: 0 0 2px #000;
    padding: 4px 8px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background-color: rgb(25, 25, 25);
    background-color: rgba(25, 25, 25, 0.92);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: 0 0 3px #555;
    -webkit-box-shadow: 0 0 3px #555;
    -moz-box-shadow: 0 0 3px #555;
}
#tiptip_content code {
	background:#1d94cf;
	color:#fff;
	text-shadow:none;
	padding:2px;
	font-size:12px;
}
#tiptip_content a{
	color: #0CF;
}
#tiptip_content a:hover{
	color: #F93;
}
#tiptip_arrow, #tiptip_arrow_inner {
    position: absolute;
    border: 6px solid transparent;
    height: 0;
    width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
    border-top-color: #fff;
    border-top-color: rgba(255, 255, 255, 0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
    border-bottom-color: #fff;
    border-bottom-color: rgba(255, 255, 255, 0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
    border-right-color: #fff;
    border-right-color: rgba(255, 255, 255, 0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
    border-left-color: #fff;
    border-left-color: rgba(255, 255, 255, 0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
    margin-top: -7px;
    margin-left: -6px;
    border-top-color: rgb(25, 25, 25);
    border-top-color: rgba(25, 25, 25, 0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
    margin-top: -5px;
    margin-left: -6px;
    border-bottom-color: rgb(25, 25, 25);
    border-bottom-color: rgba(25, 25, 25, 0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
    margin-top: -6px;
    margin-left: -5px;
    border-right-color: rgb(25, 25, 25);
    border-right-color: rgba(25, 25, 25, 0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
    margin-top: -6px;
    margin-left: -7px;
    border-left-color: rgb(25, 25, 25);
    border-left-color: rgba(25, 25, 25, 0.92);
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    #tiptip_content {
        padding: 4px 8px 5px 8px;
        background-color: rgba(45, 45, 45, 0.88);
    }

    #tiptip_holder.tip_bottom #tiptip_arrow_inner {
        border-bottom-color: rgba(45, 45, 45, 0.88);
    }

    #tiptip_holder.tip_top #tiptip_arrow_inner {
        border-top-color: rgba(20, 20, 20, 0.92);
    }
}
/* Dashboard Design  */
.backwpup-welcome {
	font-family: sans-serif,"Arial";
	font-size:14px;
	position:relative;
}
.backwpup-welcome p{
	line-height:28px;
	font-size:16px;
}
.backwpup-welcome h3{
	font-family: sans-serif,"Arial";
	font-size:44px;
	font-weight:normal;
	color:#333;
	line-height:44px;
	margin:20px 0;
}
.wizardbox {
	float: left;
	width: 200px;
	margin:25px 25px 25px 0px;
	padding: 15px;
    height: 200px;
	font-family: sans-serif,"Arial";
	font-size:14px;
	line-height:22px;
	position:relative;
	color:#fff;
    background: #1d94cf url(../images/hgbox.png) no-repeat right bottom;
}
.wizardbox:hover {
	background-color: #0f79ae;
}
.wizardbox input.button-primary-bwp {
	float:left;
	padding:5px 10px;
	font-size:14px;
	font-family: sans-serif,"Arial";
	text-decoration:none;
	background-color:#38b0eb;
	color:#fff;
	border:none;
	cursor:pointer;
}
.wizardbox input.button-primary-bwp:hover {
	background-color:#064565;
	cursor:pointer;
}
.wizardbox .wizardbox_name {
	font-size:22px;
	font-family: sans-serif,"Arial";
	margin-bottom:30px;
}
.wizardbox .wizardbox_start {
	position:absolute;
	bottom:10px;
	left:10px;
}
.wizardbox select{
	width:200px;
}
.inpsyde {
	width:79px;
	height:119px;
    background: url(../images/inpsyde.png) no-repeat;
    position:absolute;
	top:0;
	right:10px;
    z-index: 1;
}
.inpsyde a{
	float:left;
	font-size:14px;
	color:#fff;
	text-decoration:none;
	padding:65px 15px 15px 15px;
	text-align:center;
}

.mp_logo {
    background: url(../images/mp_logo_small.png) no-repeat;
    margin-right:15px !important;
    height: 25px;
    width: 145px;
    display: inline-block;
    text-indent: -9999em;
}

#footer-left span {
    margin-right:15px !important;
}

#footer-left span,
#footer-upgrade a {
	display: inline-block;
	padding-top: 8px;
}

/* DOKU */
#documentation_content p{
	font-size:14px;
	line-height:20px;
	color:#333;
}
#documentation_content h3{
	padding:7px 0;
	font-size:22px;
}
#documentation_content h4{
	padding:7px 0;
	font-size:18px;
}
#documentation_content img.size-full {
	border:10px #f6f6f6 solid;
}