#wizard_description {
    width: 775px;
	margin-left:25px;
}

#wizard_description h3 {
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 15px;
	font-family: sans-serif,"Arial";
	font-weight:normal;
	font-size:16px;
}
h3.title {
	font-family: sans-serif,"Arial";
	font-weight:normal;
	font-size:18px;
	margin-bottom:35px;
}
#wizard {
    width: 850px;
    height: 500px;
}

#wizard_navigation {
    float: left;
    width: 225px;
    height: 500px;
    background: #1d94cf;
    overflow: hidden;
	background-image:url(../images/hgboxleft.png);
	background-position:left bottom;
	background-repeat:no-repeat;
}

#wizard_navigation ul {
    margin: 0;
    padding-left: 20px;
    padding-top: 15px;
    list-style: none;
}
#wizard_navigation ul li{
	font-size:14px;
	font-family: sans-serif,"Arial";
	color:#fff;
	padding:10px;
    text-decoration: none;
}
#wizard_navigation ul li a{
    font-size:14px;
    font-family: sans-serif,"Arial";
    color:#fff;
    text-decoration: none;
}

#wizard_navigation ul li.current{
	background-color:#007fb6;
	background-image:url(../images/current.png);
	background-position:right center;
	background-repeat:no-repeat;
	font-weight: bold;
}
#wizard_settings {
    width: 620px;
    height: auto;
    float: left;
}
#wizard_settings_area {
    margin-left: 30px;
    margin-top: 15px;
    width: 590px;
    height: auto;
	font-size:14px;
	font-family: sans-serif,"Arial";
}
#wizard_settings_area span.wizard_settings_area_options {
	float:left;
	margin-bottom:25px;
	clear:both;
}
#wizard_settings_area span.wizard_settings_area_options input{
	float:left;
	margin-bottom:0px;
}
#wizard_settings_area input{
	margin-bottom:25px;
}
#wizard_settings_area span.wizard_settings_area_options label{
	float:left;
	margin-left:10px;
	width:560px;
}
#wizard_settings_area div.table_planung table#wpcronbasic{
	width:540px;
}
#wizard_settings_area div.table_planung th{
	text-align:left;
	border-bottom:1px dotted #ccc;
}
#wizard_settings_area div.table_planung td{
	border-bottom:1px dotted #ccc;
}
#wizard_settings_area div.table_planung tr{
	line-height:60px;
}
#wizard_settings_area pre {
	height:455px;
	overflow:scroll;
}
#wizard_navbuttons {
    width: 800px;
    text-align: right;
}
#wizard_navbuttons a.button-bwp,
#wizard_navbuttons input.button-bwp{
	padding:10px;
	font-size:12px;
	font-family: sans-serif,"Arial";
	text-decoration:none;
	background-color:#1d94cf;
	color:#fff;
	border:none;
}
#wizard_navbuttons a.button-bwp,
#wizard_navbuttons input.button-bwp{
	cursor:pointer;
}

.execute {
    background-color: #1d485d !important;
}
li.execute {
	background-image:url(../images/execute.png);
	background-repeat:no-repeat;
	background-position:center right;
}
p.good { padding:10px; font-size:16px; text-align:center; color:#fff; background-color:#a8c100; }