//
// Components Documentation
//
#documentation_content {
  p {
    font-size:   14px;
    line-height: 20px;
    color:       #333;
  }
  h3 {
    padding:   7px 0;
    font-size: 22px;
  }
  h4 {
    padding:   7px 0;
    font-size: 18px;
  }
  img.size-full {
    border: 10px #f6f6f6 solid;
  }
}
